Redirect permanent "/science" "https://www.pieter-adriaans.com/science.php"
Redirect permanent "/music" "https://www.pieter-adriaans.com/music.php"
Redirect permanent "/contact.html" "https://www.pieter-adriaans.com/contact.php"
Redirect permanent "/on-painting" "https://www.pieter-adriaans.com/painting.php"
Redirect permanent "/gallery" "https://www.pieter-adriaans.com/gallery.php"
Redirect permanent "/azorean-drawings.html" "https://www.pieter-adriaans.com/gallery.php"
