.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(19rem, 100%), 310px));
    grid-gap: 0.5rem;
    place-content: center;
    /* place-items: center; */
    width: min(98%, 1280px - 0.5rem );
    margin-inline: auto;
}
.view-container {
  display: block;
  width: min(100%, 1200px);
  margin: auto;
  padding: 1rem;
}
/* Responsive styles */
/* .gallery-container {
  grid-template-columns: repeat(auto-fit, minmax(min(20rem,100%), 360px));
} */

article.rj-gallery-card * + * {
margin-top: unset;
 /* margin: 0 0 0.5em 0; */
}
/* @media (max-width: 576px) {
.gallery-container {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 10px;
} */



.rj-gallery-card {
aspect-ratio: 4 / 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0px 0px 1px 1px #fff9;
}
@media (min-width: 974px) {
  .rj-gallery-card:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    }

}

.rj-gallery-card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff5;
  background-image: linear-gradient(132deg, transparent, rgba(240, 240, 240, 0.5));
  position: relative;
  border: unset;
  border-radius: 8px;
}

/* create a down arrow for the overlay to appear */
.card-overlay-content-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.75rem;
  height: 1.75rem;
  font-size: 1.35rem;
  z-index: 2;
  background-color: rgb(22, 22, 22 , 0.8);
  border: 1px solid rgb(232, 200, 100);
  outline: 1px solid transparent;
  outline-offset: 2px;
  color: rgb(232, 200, 100);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: end;
  padding: 0.25rem 0.5rem;
  margin: 0.2rem;
  border-radius: 100vw;
  cursor: pointer;
  font-family: system-ui, sans-serif;
}

.card-overlay-content-button:hover,
.card-overlay-content-button:focus,
.card-overlay-content-button:focus-visible {
  background-color: rgb(22, 22, 22 , 0.9);
  outline-color: rgb(232, 200, 100);
  border-color: #f0f0f0;
  transition: all 250ms ease-in-out;
}

.card-for-sale {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: hsl(152.18deg 68.75% 38.37%);
  padding: 0.25em 0.5em;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #0b0b0b;
  border-radius: 0 2px 0 0.5em;
  z-index: 1;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.info-modal-container .for-sale-btn {
  background-color: hsl(152.18deg 68.75% 38.37%);
  padding: 0.5em 1em;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #0b0b0b;
  border-radius: 0 2px 0 0.5em;
  z-index: 1;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.card-for-sale:hover,
.card-for-sale:focus,
.card-for-sale:focus-visible,
.info-modal-container .for-sale-btn:hover,
.info-modal-container .for-sale-btn:focus,
.info-modal-container .for-sale-btn:focus-visible {
  background-color: hsl(152.18deg 58.75% 40.37%);
  outline-color: #f0f0f0;
  transition: all 250ms ease-in-out;
  }
/* create a button in the corner that when clicked will show the card-overlay-content  */
.rj-gallery-card .card-overlay-content {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translateY(-300px);
  transition: transform 250ms ease-in-out;
}

.rj-gallery-card .card-overlay-content.active {
  transform: translateY(0);
}




.rj-gallery-card .card-header {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 16px;
  text-align: center;
  position: relative;
}


.rj-gallery-card .card-header p {
  text-shadow: 0px 1px 1px #ddd6, -2px 2px 2px #7778;

  text-align: center;
}

.rj-gallery-card .card-body {
  padding: unset;
}

.rj-gallery-card .image-container {             
  position: relative;
  /* height: min(100%, 300px); */
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}


.rj-gallery-card .img-wrapper {
 
  margin: 1em;
  box-shadow: 0 0px 6px 1px #aaa8;
  border-radius: 8px;
}

.rj-gallery-card audio {
    position: absolute;
    bottom: 0;
    margin: 0.5rem;
}

.rj-gallery-card .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid #0006;
  border-radius: 6px;
  background-color: #0008;
  transition: opacity 1s;
}

.loaded {
opacity: 1;
transition: opacity 0.5s ease-in-out 0.3s;
}


.rj-gallery-card .media-selection-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 0 1em 0; */
  padding-block: 0.5em;
  background-color: rgba(0, 0, 0, 0.7);

  height: 3em;
  border-block: 1px solid #dde6;
}

.rj-gallery-card .card-header::before,
.rj-gallery-card .media-selection-container::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  backdrop-filter: blur(5px) saturate(0.4);
  z-index: -1;
}


.rj-gallery-card .media-selection-container button {
  padding: 0.5em;
  background-color: hsl(0deg 0% 94% / 80%);
  border-radius: 6px;
  margin: 0 0.75em;
  cursor: pointer;
  font-size: 12px;
  display: grid;
  place-items: center;
  place-content: center;
  box-shadow: 0 1px 2px 1px rgb(22 22 22 / 0.5);
  transition: all 250ms ease-in-out;
}

.rj-gallery-card .media-selection-container button:hover,
.rj-gallery-card .media-selection-container button:focus,
.rj-gallery-card .media-selection-container button:focus-visible,
.rj-gallery-card .media-selection-container button:active
 {
  box-shadow: inset 0 1px 2px 1px rgb(22 22 22 / 0.5);
}

.rj-gallery-card .media-selection-container button i {
  font-size: 16px;

}
/* Style for modal container */
.audio-modal-container, .video-modal-container, .image-modal-container, .info-modal-container {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}
.audio-modal-content,
.video-modal-content,
.image-modal-content,
.info-modal-content {
  /* position: relative;
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  text-align: center; */
  display: grid;
  place-items: center;
  height: 100%;
}

.audio-modal-content, .video-modal-content, .image-modal-content, .info-modal-content {
  margin: 0 auto;
  display: grid;
  place-items: center;
  height: calc(100vh - 2.5em);
  /* height: 100%; */
  width: auto;
  /* object-fit: contain; */
  /* max-width: 800px; */
  /* max-height: 800px; */
}

.info-modal-content {
place-items: baseline;
place-content: center;
}

.info-modal-pre {
  color: #222;
  line-height: 1.4;
  font-size: 1.15rem;
  max-width: 66ch;
  padding: 1em;
  background: #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 5px 5px #fff8;
  border: 1px solid #2228;
  margin: 0.5em;
}

.info-modal-title {
text-align: center;
margin: 3em 0 1em 0;
}


.image-modal-content img {
  width: 97%;
  margin: 0 auto;
  /* height: 98%; */
  max-height: 100vh;
  object-fit: contain;
  box-shadow: 0px 0px 9px 1px #fff8;
  /* padding: 2px; */
  background-color: #5557;
}
.audio-modal-audio {
max-width: 90%;
max-height: 90%;
}

.video-modal-video {
max-width: 90%;
max-height: 90%;
}

.audio-modal-close, .video-modal-close, .image-modal-close, .info-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 1px 1px 0 0;
}

/* CSS style for the temporary image */
/* .loading-image {
background-image: url('assets/svg/pieterBg.svg');
background-repeat: no-repeat;
background-size: contain;

} */


img {
transition: opacity 0.5s ease-in-out;
}

.placeholder {
  background-color: #f0f0f0;
}

.lozad {
  opacity: 0;
}

.lozad.fade {
  opacity: 1;
}