@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
 margin: 0;
 padding: 0;
}


ul {
    list-style: none;
}

.rj-nav-svg {
    width: 122px;
    height: auto;
    

}


.rj-home {
    min-height: 100vh;
    /* margin-top: -2rem; */
    /* padding: 1.3em; */
    width: minmax(85vw, 95vw);
   
    
}

.hero-title {
    display: flex;
    /* gap: 1rem; */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgba(34, 34, 34, 0.9);
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    color: #fafafa;
    border: 1px solid rgba(240, 240, 250,0.6);

    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5),
        1px 1px 1px rgba(12, 34, 66, 0.5);
    width: min(90%,80ch);
    position: absolute;
    bottom: -5rem;
}
.rj-home-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    /* background: rgba(34, 34, 34, 0.6); */
    background-image: url(../img/2022-40-Sunrise-at-Manadas.jpg);
    background-size: cover;
    background-position: 29% 44%;
    background-repeat: no-repeat;
    color: #fafafa;
    padding-block: 2em;
    width: min(100%, 1200px);
    margin-inline: auto;
    margin-block: 0 5.5rem;
    height: min(450px,90vh);
}

.rj-home-header h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0;

}

.rj-home-header h2 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0.33rem 0;
}

.rj-home-header p {
    width: min(100% - 1rem, 1000px);
    /* font-size: 1rem; */
    font-size: clamp(0.75rem, 2.5vw, 1rem);
    font-weight: 200;
    margin: 0.5em 0;

}

.last-image {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    margin: 1em 0;
}

.last-image-container {
    flex: 1;
    width: 100%;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: contain;

}



.last-image img {
    max-height: 600px;

    object-fit: contain;
}


.rj-home-header .rj-home-btn-about {
    position: relative;
    top: -4rem;
    right: -1rem;
    background-color: rgba(250, 250, 250, 0.7);
}

.rj-home-hero {
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
    align-items: end;
    flex-wrap: nowrap;
    background-color: rgba(99 99 99 / 0.65);
    background-image: url(../img/2022-40-Sunrise-at-Manadas.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: min(100%, 1240px);
    height: 600px;
    border: 1px solid rgb(0 0 0 / 0.5);
    box-shadow: 1px 2px 3px rgb(0 0 0 / 55%);
    border-radius: 4px;
    padding: 1em;
    position: relative;

}
.rj-social-list {
    position: relative;
    display: flex;
    flex-direction: column;
     list-style: none;
    gap: 0.5rem;
    justify-content: flex-end;
    font-family: "IBM Plex Sans", sans-serif;
}
.rj-social-item {
    margin: 0 0.35em 0 0.35em;
    padding: 0.25em 0.4em;
    font-size: 0.85rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    border: 1px solid hsla(197, 25%, 70%, 0.65);
    border-radius: 7px;
    box-shadow: inset 1px 1px 4px 1px rgb(151 162 165 / 60%), 0px 3px 3px 1px rgb(66 66 66 / 70%);
    background-color: rgb(0,0,0,0.75);
    color: #fafafa;
}
.rj-social-item a {
    text-decoration: none;
    color: #fefef0;
}

.rj-social-item a:hover {
    color: #fff;
}
.rj-social-item:hover {
    color: #fff;
    box-shadow: 0px 0px 5px 4px rgb(151 162 165 / 69%);
}

.rj-social-item i {
    margin-right: 0.25em;
    font-size: 1.22rem;
    padding: 0.15em;
}

.fa-facebook {
    color: #1977f3;
}

.rj-social-item .fa-youtube {
    color: #ff0000;
}

.rj-news-section {
    width: 90%;
    max-width: 1240px;
    display: flex;
    justify-content: center;
}

.rj-home-news {
    position: relative;
    top: -2rem;
    width: 90%;
    max-width: 1240px;
    margin: 0.75em 0 1.5em 0;
    padding: 1em;
    display: grid;
  grid-template-columns: 70ch;
  grid-template-rows: auto;
  grid-gap: 20px;

  
}
@media (min-width: 30em) {
.rj-home-news {
    grid-template-columns: 1fr ;
        }

}

@media (max-width: 30em) {
    .rj-home-news {
        grid-template-columns: 1fr ;
            }
    
    }
/* @media screen and (max-width: 1000px) {
    .rj-about-hero {
        height: 400px;
        padding-bottom: 60%;
    }
} */

@media (min-width: 60em) {
.rj-home-news {
    grid-template-columns: repeat(2, 50ch);
        
}

}


.rj-news-card,
.rj-about-hero {
        
    padding: 0.75em;
    background-color: hsl(0, 0%, 88%);
    color: hsl(216, 21%, 22%);
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* box-shadow: inset 0 -33em 25px rgb(0 0 0 / 14%), 0 0px 0 4px hsl(0deg 0% 59%), -23px 7em 15px rgb(0 0 0 / 53%); */
    box-shadow: 0 -32em 23px rgb(0 0 0 / 14%), 0px 0 2px 5px hsl(0deg 0% 59%),
        -16px 8px 33px rgba(0 0 2 / 61%);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;


}

.rj-news-card article {
    padding: 0.15em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rj-news-card h2{
    font-size: 1.5rem;
    padding: 0.15em 0.2em 0.4em 0.2em;
    color: #333;
    border-bottom: 1px solid #3333;
    margin-bottom: 0.2em;
}
.rj-news-card pre {
    flex: 1;
    line-height: 1.4;
    border-bottom: 1px solid #33333333;
    font-size: 1.15rem;
    white-space: pre-wrap;
    text-align: justify;
    /* Smol Responsive Padding FTW! */
    padding: clamp(.55rem, 3%, 2rem);
    /* Provide a max-width and prevent overflow */
    width: min(50ch, 90%);
    /* Help prevent overflow of long words/names/URLs */
    word-break: break-word;
    /* Optional, not supported for all languages */
    hyphens: auto;
  
}

.rj-news-card span:first-of-type {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 0 0.5em 0;
    text-align: center;
}


.rj-news-card .rj-card-img {
    /* padding-bottom: 60%;
    background-size: cover;
    background-position: center center; */
    object-fit: contain;
    width: 100%;
    box-shadow: 0px 2px 5px 1px #3338;
    border: 1px solid rgb(22 44 66 / 66%);

  }

.rj-news-card:hover,
.rj-about-hero:hover {
top: -2px;
}

.rj-news-card-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.rj-news-card-content p {
    width: 60ch;
}
.rj-news-card-content pre {
    font-family: "IBM Plex Sans", sans-serif;
    overflow: none !important;
    font-size: inherit;
    width:60ch;
}

.rj-news-card-content img {
    width: 20em;
    height: auto;
    object-fit: contain;
    box-shadow: 2px 3px 6px -1px rgb(22 44 66 / 80%);
    border: 1px solid rgb(22 44 66 / 66%);
}

.rj-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rj-flex-container-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.rj-about-hero {
    /* width: 40%; */
    /* height: max-content; */
    /* padding: 0; */
    /* margin: 0.75em; */
    background: url(../img/heroimg201519.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    color: #fafafa;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.rj-about-hero p {
    font-size: 1.1rem;
    color: white;
    text-shadow: 1px 1px black;
    text-align: justify;
    background-color: #2226;
    padding: 0.5em;
}
/* .rj-about-hero img {
    width: 70%;
    object-fit: contain;
} */

.rj-about-wrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 0.75em 0 1.5em 0;
    padding: 1em;
}

.rj-about {
    width: 66%;
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    /* width: 100%;
    height: 100%; */
   
    /* padding: 0.75em; */
    background-color: hsl(0, 0%, 88%);
    color: hsl(216, 21%, 22%); */
    /* color: #fafafa; */
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* box-shadow: inset 0 -33em 25px rgb(0 0 0 / 14%), 0 0px 0 4px hsl(0deg 0% 59%), -23px 7em 15px rgb(0 0 0 / 53%); */
    box-shadow: 0 -32em 23px rgb(0 0 0 / 14%), 0px 0 2px 5px hsl(0deg 0% 59%),
        -16px 8px 33px rgba(0 0 2 / 61%);
    border-radius: 4px;
}

.rj-about-img {
    position: relative;
}

.rj-about-img img {
    width: 100%;
object-fit: contain;
border-radius: 3px;
}




.rj-about p {
    /* background-color: rgb(26 49 77 / 0.65); */
    padding: 0.5em;
}

.rj-about-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.rj-about-logo-container .rj-kaas-logo ,
.rj-about-logo-container .rj-mz {
    height: 210px;
    width: auto;
    aspect-ratio: 4 / 3;
    /* support for safari */
    
    object-fit: cover;
    padding: 1rem;
    border-radius: 10px;

    border: 1px solid rgb(200 200 200 / 0.75);
}



.rj-mz {
}





.rj-unbreakable-text {
    font-size: 1.15rem;

    padding: clamp(0.75rem, 3%, 2rem);

    width: min(50ch, 90%);

    word-break: break-word;

    hyphens: auto;
}

blockquote {
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    padding: 0.5em;
    text-align: justify;
    text-shadow: 1px 2px 1px #f0f0ff,
     0px 0 1px #000,
      -1px -1px 2px #f0f0af;
}

blockquote::before {
    font-size: 1.35rem;

    content: open-quote;
}

blockquote::after {
    font-size: 1.35rem;

    content: close-quote;
}


@media screen and (max-width: 1000px) {

    .rj-news-card {
        width: 100%;
    }

    .rj-about {
        width: 100%;
    }

    .rj-news-card-content {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-bottom: 1em;
        justify-content: space-between;
    }

    .rj-news-card-content p {
        width: 100%;
        padding: 0.8rem clamp(0.8rem, 5%, 3rem);
    }

    .rj-news-card-content img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .rj-home-header .rj-home-btn-about {
        display: none;
    }

    .rj-about-p-img {
        flex-direction: column-reverse;
    }
    .rj-about-p-img:last-of-type {
        flex-direction: column;
    }
    
    .rj-flex-container-row {
        flex-direction: column;
    }

.rj-nav-svg {
    width: 122px;
    height: auto;
    

}
}

@media screen and (min-width: 1280px) {
    /* .rj-news-card {
        width: 50vw;
    } */
    .rj-blog-card {
max-height: 100%;
    }

    .rj-about {
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {

    blockquote {
        font-size: 1rem;
    }
    .rj-about-hero {
        padding-bottom: 80%;
    }
    .rj-about-logo-container {
    flex-direction: column;
    }
}

