@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    /* border: 1px solid red;
    outline: 1px solid green; */
}

ul {
    list-style: none;
}

.rj-home {
    min-height: 100vh;
    /* margin-top: -2rem; */
    padding: 1.3em;
    width: minmax(85vw, 95vw);
}

.rj-home-header h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5),
        1px 1px 1px rgba(12, 34, 66, 0.5);
}
.rj-home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.rj-home-header-img {
    width: 95%;
    /* height: auto; */
    margin: 0;
    padding: 0;
}

.rj-home-header-img img {
    width: 100%;
    object-fit: contain;
    border: 1px solid rgba(1, 29, 40, 0.5);
    border-radius: 7px;
    /* box-shadow: 0 1px 2px 3px rgba(130,147,152,0.5); */
    box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 19%);
}

.rj-home-header .rj-home-btn-about {
    position: relative;
    top: -4rem;
    right: -1rem;
    background-color: rgba(250, 250, 250, 0.7);
}

.rj-social-list {
    position: relative;
    top: -2rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    padding: 0.15em;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    font-family: "IBM Plex Sans", sans-serif;
}

.rj-social-item {
    margin: 0 0.35em 0 0.35em;
    padding: 0.25em 0.4em;
    font-size: 0.85rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    border: 1px solid hsla(197, 5%, 20%, 0.65);
    border-radius: 7px;
    box-shadow: inset 1px 1px 4px 1px rgb(151 162 165 / 20%),
        0px 2px 3px 1px rgba(0, 0, 0, 20%);
}
.rj-social-item a {
    text-decoration: none;
    color: #fefef0;
}

.rj-social-item a:hover {
    color: #fff;
}
.rj-social-item:hover {
    color: #fff;
    box-shadow: 0px 0px 5px 4px rgb(151 162 165 / 69%);
}

.rj-social-item i {
    margin-right: 0.25em;
    font-size: 1.22rem;
    padding: 0.15em;
}

.fa-facebook {
    color: #1977f3;
}

.rj-social-item .fa-youtube {
    color: #ff0000;
}

.rj-home-news {
    position: relative;
    top: -2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75em 0 1.5em 0;
    padding: 1em;
}

.rj-news-card {
    width: 66%;
    padding: 0.75em;
    background-color: hsl(0, 0%, 88%);
    color: hsl(216, 21%, 22%);
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* box-shadow: inset 0 -33em 25px rgb(0 0 0 / 14%), 0 0px 0 4px hsl(0deg 0% 59%), -23px 7em 15px rgb(0 0 0 / 53%); */
    box-shadow: 0 -32em 23px rgb(0 0 0 / 14%), 0px 0 2px 5px hsl(0deg 0% 59%),
        -16px 8px 33px rgba(0 0 2 / 61%);
    border-radius: 4px;
}

.rj-news-card-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.rj-news-card-content p {
    width: 60ch;
}
.rj-news-card-content pre {
    font-family: "IBM Plex Sans", sans-serif;
    overflow: none !important;
    font-size: inherit;
}

.rj-news-card-content img {
    width: 20em;
    height: auto;
    object-fit: contain;
    box-shadow: 2px 3px 6px -1px rgb(22 44 66 / 80%);
    border: 1px solid rgb(22 44 66 / 66%);
}

.rj-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rj-about-wrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 0.75em 0 1.5em 0;
    padding: 1em;
}

.rj-about {
    width: 66%;
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    /* width: 100%;
    height: 100%; */
   
    /* padding: 0.75em; */
    background-color: hsl(0, 0%, 88%);
    color: hsl(216, 21%, 22%); */
    /* color: #fafafa; */
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* box-shadow: inset 0 -33em 25px rgb(0 0 0 / 14%), 0 0px 0 4px hsl(0deg 0% 59%), -23px 7em 15px rgb(0 0 0 / 53%); */
    box-shadow: 0 -32em 23px rgb(0 0 0 / 14%), 0px 0 2px 5px hsl(0deg 0% 59%),
        -16px 8px 33px rgba(0 0 2 / 61%);
    border-radius: 4px;
}

.rj-about-img {
    position: relative;
}

.rj-about-img img {
    width: 100%;
object-fit: contain;
border-radius: 3px;
}




.rj-about p {
    /* background-color: rgb(26 49 77 / 0.65); */
    padding: 0.5em;
}

.rj-about-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin: 0.5em;
}

.rj-about-logo-container > img {
    /* border: 1px solid rgb(200 200 200 / 0.75); */

}

.rj-about-logo {
    width: 200px;
    height: 180px;
    
    margin: 0.5em;
    border-radius: 4px;

}

.rj-mz {
    width: 200px;
    height: 180px;

    margin: 0.5em;
    border-radius: 4px;
border: 1px solid rgb(200 200 200 / 0.75);

}





.rj-unbreakable-text {
    font-size: 1.15rem;

    padding: clamp(0.75rem, 3%, 2rem);

    width: min(50ch, 90%);

    word-break: break-word;

    hyphens: auto;
}

blockquote {
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    padding: 0.5em;
    text-align: justify;
    text-shadow: 1px 2px 1px #f0f0ff,
     0px 0 1px #000,
      -1px -1px 2px #f0f0af;
}

blockquote::before {
    font-size: 1.35rem;

    content: open-quote;
}

blockquote::after {
    font-size: 1.35rem;

    content: close-quote;
}


@media screen and (max-width: 1000px) {
    .rj-social-list {
        flex-direction: column;
        top: 0;
    }
    .rj-social-item {
        margin: 0 0.35em 0.6em 0.35em;
        padding: 0.25em 0.4em;
        font-size: 0.6rem;
    }
    .rj-news-card {
        width: 100%;
    }

    .rj-about {
        width: 100%;
    }

    .rj-news-card-content {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        margin-bottom: 1em;
        justify-content: space-between;
    }

    .rj-news-card-content p {
        width: 100%;
        padding: 0.8rem clamp(0.8rem, 5%, 3rem);
    }

    .rj-news-card-content img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .rj-home-header .rj-home-btn-about {
        display: none;
    }

    .rj-about-p-img {
        flex-direction: column-reverse;
    }
    .rj-about-p-img:last-of-type {
        flex-direction: column;
    }
    
}

@media screen and (min-width: 1280px) {
    .rj-news-card {
        width: 50vw;
    }

    .rj-about {
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {

    blockquote {
        font-size: 1rem;
    }
}