

.rj-painting img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
  border:1px solid #39618a;
  /* box-shadow: 0 1px 6px 6px rgba(44, 55, 99,0.7); */
  box-shadow: -8px 8px 33px rgba(0 0 2 / 61%);
}


.rj-music img {
  width: 100%;
  
  height: auto;
  object-fit: cover;
  border-radius: 7px;
  border:1px solid #39618a;
  /* box-shadow: 0 1px 6px 6px rgba(44, 55, 99,0.7); */
  box-shadow: -8px 8px 33px rgba(0 0 2 / 61%);
}

.rj-flex img[data-id="music"] {
  width: 200px;
  height: auto;
  object-fit: contain;
  padding: 0.5em;
  margin: 0.25em;
}

.rj-painting-kaas-klas {
  width: 50%;
  height: auto;
  border-radius: 7px;
  border:1px solid #39618a;
  /* box-shadow: 0 1px 6px 6px rgba(44, 55, 99,0.7); */
  object-fit: cover;
  box-shadow: -8px 8px 33px rgba(0 0 2 / 61%);
}

/* @media screen and (max-width: 1000px) {

  img[src*="assets"]:not(img[src$=".svg"]) {
    width: 100%;
    object-fit: contain;
  }
  
}

 */

